<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permiso para acceso a internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LoginApp"
        android:enableOnBackInvokedCallback="true"
        tools:targetApi="31">

        <meta-data
            android:name="com.mapbox_access_token"
            android:value="sk.eyJ1IjoiYmpsZyIsImEiOiJjbTB5MzIzMmowanA5MmpwdTlnbm13N21pIn0.dqfiLM_LyGtROfc3A_uf6Q"/>

        <!-- Declarar las actividades -->
        <activity android:name=".view.DashboardActivity" android:exported="false" />
        <activity android:name=".view.RolesActivity" android:exported="false" />
        <activity android:name=".view.PermissionsActivity" android:exported="false" />
        <activity android:name=".view.UserActivity" android:exported="false" />
        <activity android:name=".view.FarmActivity" android:exported="false" />
        <activity android:name=".view.FarmListActivity" android:exported="false" />

        <!-- LoginActivity configurada como la actividad principal -->
        <activity
            android:name=".view.LoginActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.LoginApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- HomeActivity configurada como actividad secundaria -->
        <activity
            android:name=".view.HomeActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.LoginApp"/>
    </application>
</manifest>
